/*

Template 2096 Individual

http://www.tooplate.com/view/2096-individual

*/

body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 19px;
	font-weight: 300;
	overflow-x: hidden;
}

a, button {
	transition: all 0.3s ease;
	color: #9C262D;
}

a:hover {
	color: #E63700;
	text-decoration: underline;
}
a:focus {
	text-decoration: none;
	outline: none;
}
.parallax-window {
	min-height: 100vh;
	background: transparent;
	display: flex;
	align-items: center;
}

.tm-text-white { color: #fff; }

.tm-page-1-content { 
	padding-top: 1vh;
	align-items: center;
}

.tm-page-2{
	max-width: 800px;
}

.tm-page-4-content { 
	padding-top: 1vh;	
}

.tm-page-5-content { 
	padding-top: 1vh;	
}

.tm-bg-white {
	padding: 20px;
	background-color: white;
	opacity: 0.8;
	width: 100%;
	color: black;
}

.tm-bg-white2 {
		padding: 20px;
		background-color: white;
		opacity: 0.8;
		width: 100%;
		margin: 0px;
}

.cover {
	width: 90%;
	float: right;
	padding-right: 2em;
	padding-top: .5em;
	padding-bottom: 1em;
}

header {
	font-family:  'Eagle Lake', cursive;
}

hr {
	background: white;
	margin-right: 10px;
}

h1 {
	font-size: 4rem;
	padding-bottom: 20px;
	font-family:  'Eagle Lake', cursive;
}

h2 {
	font-family:  'Eagle Lake', cursive;
	padding-bottom: 10px;
	font-weight: bold;
	padding-top: 20px;
}

h3 {
	color: green;
	padding-bottom: 10px;
}

h5 {
	padding-left: 20px;
	font-size: 2rem;
	font-weight: bold;
	color: white;

}

li {
	display:  inline-block;
}

ul {
	list-style-type: none;
	padding-inline-start: 0;
}

.logo {
	padding: 15px;
	opacity: 70%;
}

.logo:hover {
	opacity: 100%;
}

.logo:focus {
	box-shadow: 0 0 0 0.2rem rgb(230 55 0 / 50%);
}

.tm-bg-white-transparent {
	margin: 5px;
	padding: 40px;
	background-color: #ffffffc4;
	max-width: 340px;
	width: 100%;
	margin: 20px;
}

.tm-bg-white-transparent-page3 {
	margin-left: 100px;
	
}

.tm-page-5-content {
	float: right;	
}

.container {
	float: right;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.tm-btn-block {
	display: block;
}

.tm-btn-right {
	float:right;
}

.tm-address-box {
	color: white;
	padding-left: 40px;
}

.tm-bg-white-transparent-left {
	float: right;
	background-color: white;
	opacity: 0.8;

}
.tm-bg-white-transparent-center {
	display: inline-block;
	background-color: white;
	opacity: 0.8;
}
.tm-bg-white-transparent-right {
	float: left;
	background-color: white;
	opacity: 0.8;
}

.tm-img-container {
	width: 96%;
	max-width: 1020px;
}

.tm-slider-img {
	padding-left: 10px;
	padding-right: 10px;
}

.slick-dots li button:before {
	font-size: 20px;
	color: white;
	opacity: 1;
}

.slick-dots {
	position: absolute;
	bottom: -50px;
	display: block;
	width: 100%;
	padding: 0;
	list-style: none;
	text-align: center;
}

.slick-dots li.slick-active button:before {
	opacity: .75;
	color: deepskyblue;
}

.tm-btn-submit {
	font-size: 1.5rem;
    font-weight: 300;
    padding: 10px 60px;
    border-radius: 9px;
    float: right;
}

.form-control {

	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1;
	color: #495057;
	opacity: 0.75;
	background-color: #fff;
	background-image: none;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: 0rem;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.tm-position-relative {
	position: relative;
}

.footer {
	padding: 15px; 
	position: absolute;
	bottom: 0;
	left: 0;
	color: white;
	text-align:center;
	width:100%;
}

.btn-danger {
	padding-left: 60px;
	padding-right: 60px;
	border-color: white;
	background-color: transparent;
	border-radius: 0;
	padding-top: .32rem;
	padding-bottom: .32rem;
}

.btn-danger:hover {
	background-color: #E63700;
	border-color:  #E63700;
}

.btn-danger:active {
	background-color: #E63700;
	border-color:  #E63700;
}

.btn-danger:focus {
	box-shadow: 0 0 0 0.2rem rgb(230 55 0 / 50%);
}

.col-md-4 {
	padding-left: 0;
	margin-bottom: .5em;
}

.row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: auto;
	margin-left: auto;
}



@media screen and (max-width: 991px) {
	.tm-img-container {
		max-width: 490px;
		width: 90%;
	}
	.tm-slider-img {
		padding-left: 5px;
		padding-right: 5px;
	}

	.tm-address-box { padding-left: 10px; }
}

@media screen and (max-width: 767px) {
	.tm-address-box {
		padding-left: 0;
		padding-top: 40px;
	}
	.tm-form-section {
		padding-top: 80px;
    	padding-bottom: 100px;
	}
}

@media screen and (max-width: 540px) {
	.tm-address-box {
		margin-bottom: 50px;
	}
	.tm-page-4-content { 
		margin-bottom: 50px;
	}
}

.modal {
  position: absolute;
  opacity: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  background: rgba(77, 77, 77, .7);
  transition: all .4s;
}


.modal:target {
  visibility: visible;
  opacity: 1;
}

.modal__content {
  position: relative;
  width: 500px;
  max-width: 90%;
  background: #fff;
  padding: 1em 2em;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #585858;
  text-decoration: none;
}
